<h1>Listing events</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events2s.each do |events2| %>
  <tr>
    <td><%= events2.Event %></td>
    <td><%= events2.Message %></td>
    <td><%= link_to 'Show', events2 %></td>
    <td><%= link_to 'Edit', edit_events2_path(events2) %></td>
    <td><%= link_to 'Destroy', events2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_events2_path %>
