<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @events2.Event %>
</p>

<p>
  <b>Message:</b>
  <%= @events2.Message %>
</p>


<%= link_to 'Edit', edit_events2_path(@events2) %> |
<%= link_to 'Back', events2s_path %>
